.container-listArticle{
  flex-grow: 1;
}

.newArticle{
  display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.newArticle-title{
  margin-right: 1rem;
}

@media (min-width: 700px) {
  .listArticles{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
  }
}
